/* todos os itens da lista ordenada com o fundo amarelo */
ol li{
  background-color: yellow;
}

/* Cada item par da lista ordenada com a letra seja verde */

ol li:nth-child(2n){
  color : green;
}

/* Cada item ímpar da lista ordenada com a letra em maiusculo  */
ol li:nth-child(2n + 1){
  text-transform : uppercase;
}

/* todas as tags Header (h1, h2...) possuírem cor de fonte vermelha e, 
  se alguma delas estiver em itálico, aumente seu tamanho para 40px e 
  acrescente uma borda de 1px preta e sólida. */

h1, h2, h3, h4, h5, h6{
  color:red;
}

h1 em, h2 em, h3 em, h4 em, h5 em, h6 em{
  font-size: 40px;
  border-bottom: 1px solid black;
}
