* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* cabeçalho */
.header-container {
  position: fixed;
  top: 0;
  display: inline-block;
  text-align: center;
  font-size: 1.25em;
  padding-top: 15px;
  width: 100%;
  height: 12vh;
  background-color: black;
  color: rgb(231, 233, 234);
  border-bottom: 1px solid rgb(47, 51, 54);
}

/* conteúdo principal */
.main-container {
  position: absolute;
  top: 12vh;
  height: 76vh;
  width: 100%;
  background-color: gray;
}


.article-container h1{
  display: inline-block;
}

.input-background-color{
  display: inline;
}

.main-container a {
  text-align: center;
  text-decoration: none;
  color: black;
}

.main-container a:hover {
  text-decoration: underline;
}

.next-article{
  position: absolute;
  top: calc(50% - 32px);
  right: 33px;
}

.previous-article{
  position: absolute;
  left: 33px;
  top: calc(50% - 32px);
}

.article-container {
  background-color: rgb(231, 233, 234);
  font-family: 'fira code';
  max-width: 80vw;
  height: 100%;
  padding: 2em;
  margin: 0 auto;
  border-left: 1px solid black;
  border-right: 1px solid black;
  overflow:scroll;
  position: relative;
}

.configure-container {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 10px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.article-container section {
  margin-top: 2em;
}

/* footer container  */
.footer-container {
  position: fixed;
  bottom: 0;
  height: 12vh;
  width: 100%;
  text-align: center;
  background-color: black;
  color: rgb(231, 233, 234);
  padding-top: 30px;
}